body {
    background-color: black;
    margin: 0px;
}
@font-face {
    font-family: "okfont";
    src: url("https://fonts.gstatic.com/s/roboto/v48/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBHMdazQ.woff2");
}
#header {
    position: fixed;
    top: 0;
    width: 100vw;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;
    border-bottom: 1px solid white;
}
* {
    line-height: 1.2;
}
h3 {
    color: white;
    font-family: okfont, Arial, sans-serif;
    text-align: center;
    margin: 0px;
    font-size: 25px;
    font-weight: normal;

}
#maindiv > div {
    display: grid;
    grid-template-columns: 180px 100px auto max-content 175px 270px;
    gap: 10px;
    border-bottom: 1px solid white;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}
#maindiv > div > div:nth-child(1) {
    display: grid;
    grid-template-columns: auto max-content;
    justify-content: center;
    width: 190px;
    gap: 10px;
}
#maindiv > div > div:nth-child(1) > h3{
    width: 75px;
}
#maindiv > div > div:nth-child(1).showdate > h3:nth-child(1) {
    width: 190px;
}
#maindiv > div > div:nth-child(1).showdate > h3:nth-child(2) {
    display: none;
}
#maindiv > div:nth-child(1) {
    background-color: rgb(0, 32, 149) !important;
    position: fixed;
    width: calc(100% - 30px);
    top: 80px;

}
#maindiv > div:nth-child(2) {
    margin-top: 150px;

}
#maindiv > div > h3:nth-child(3) {
    text-align: start;
    text-wrap: nowrap;
    overflow: hidden;

}
#maindiv > div:nth-child(odd) {
    background-color: #333;
}
#maindiv > div > h3 {
    padding: 10px;

}
#maindiv > div > div {
    padding: 10px;
    height: 30px;
}
#maindiv > div > div.blink {
    padding: 5px;
    animation: blinkborder 2s ease-in-out infinite;
    border-radius: 15px;
}
@keyframes blinkborder {
    0% {
        border: 5px solid transparent;
        background-color: transparent;
    }
    50% {
        border: 5px solid red;
        background-color: rgb(113, 0, 0);
    }
    100% {
        border: 5px solid transparent;
        background-color: transparent;
    }
}
@media only screen and (max-width: 800px) {
    #maindiv > div {
        grid-template-columns: auto auto;
    }
    #maindiv > div > h3:nth-child(3) {
        text-align: center;
    }
    #maindiv > div > h3:nth-child(3), #maindiv > div > h3:nth-child(4), #maindiv > div > h3:nth-child(5), #maindiv > div > *:nth-child(6) {
        grid-column: span 2;
    }
    #maindiv > div:first-child {
        display: none;
    }
    #maindiv > div:nth-child(2) {
        margin-top: 80px;
    }
}
